{% extends "front/base.html.twig" %}

{% block body %}
    <h1>Edit Solo</h1>

    {{ include('back/solo/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('solo_index') }}">back to list</a>

    {{ include('back/solo/_delete_form.html.twig') }}
{% endblock %}
