{% extends 'front/base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}

<div class="container">
    <div class="contact">
        <ul class="contact_infos">

            <li class="infos mail">
                <i class="fa-solid fa-envelope"></i>
                <a href="mailto:nicolascrelier2504@gmail.com">nicolascrelier2504@gmail.com</a>
            </li>

            <li class="infos phone">
                <i class="fa-solid fa-mobile-screen"></i>
                <a href="tel:+33618743987">06 18 74 39 87</a>
            </li>

            <li class="infos linkedin">
            <i class="fa-brands fa-linkedin"></i>
            <a href="https://www.linkedin.com/in/nicolascrelier/" target="_blank">https://www.linkedin.com/in/nicolascrelier/</a>
            </li>

        </ul>

    </div>
</div>

{% endblock %}