{% extends 'front/base.html.twig' %}

{% block title %}Nicolas Crelier{% endblock %}

{% block body %}

<div class="container">

    <div class="work_links">
        <div class="work_links-url">
        <a href="https://www.cdm-music.com/search/?composer=5529 " target="_blank">Editions CDM-MUSIC</a>
        <a href="https://soundcloud.com/user-400236548 " target="_blank">SOUNDCLOUND</a>
        </div>
    </div>

    <div class="work_videos">

        <div class="work_videos-card" >
            <div class="video_content"></div>
            <iframe width="640" height="360" src="https://www.youtube.com/embed/R-6wKkYcQws?list=PLzOVI1HFKxWZgfu8m25S_rpwDHUGEnu14" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
            </div>
        </div>

        <div class="work_videos-card">
            <iframe width="640" height="360" src="https://www.youtube.com/embed/R-6wKkYcQws?list=PLzOVI1HFKxWZgfu8m25S_rpwDHUGEnu14" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
            </div>
        </div>

        <div class="work_videos-card">
            <iframe width="640" height="360" src="https://www.youtube.com/embed/R-6wKkYcQws?list=PLzOVI1HFKxWZgfu8m25S_rpwDHUGEnu14" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
            </div>
        </div>

        <div class="work_videos-card">
            <iframe width="640" height="360" src="https://www.dailymotion.com/embed/video/x89j1cs?autoplay=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
            </div>
        </div>

    </div>

</div>



{% endblock %}