{% extends 'front/base.html.twig' %}

{% block title %}Nicolas Crelier{% endblock %}

{% block body %}

<div class="main">

    <div class="work_links">
        <div class="work_links-url">
        <a href="https://www.cdm-music.com/search/?composer=5529 " class="link-url" target="_blank" alt="lien editions cdm-music">OEUVRES ÉDITÉES: EDITIONS CDM-MUSIC (lien)</a>
        <a href="https://soundcloud.com/user-400236548 " class="link-url" target="_blank" alt="lien soundcloud">OEUVRES NON ÉDITÉES: SOUNDCLOUD (lien)</a>
        </div>
    </div>

    <div class="separator">
            <hr class="separator_line">
    </div>

    <div class="work_videos">

        <h3>Extraits de diffusion :</h3>

        <div class="work_videos_card" >

            {% for work in works %}
            <div class="card_content">
                <div class="video_content">
                    <iframe  class="video" src="{{ work.media}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay;   clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div class="card_body">
                    <p class="card_text" alt="titre video">{{work.title}}</p>
                    {% if work.description != null %}
                    <p class="card_text" alt="description video">{{work.description}}</p>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>


        

    </div>

{% endblock %}