@font-face {
    font-family: Cocogoose;
    src: url('/assets/font/Cocogoose Pro Semilight-trial.ttf') format("truetype");
}


body {
    background-color: black;
    color: white;
    font-family: Cocogoose;
    padding: 2rem;
}

h1, h2 {
    display: flex;
    justify-content: center;
}

h1 {
    text-transform: uppercase;
    font-size: 3rem;
    margin-bottom: 1rem;
}

.name {
    margin: 5rem;
}


.navbar_nav {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 5rem;
}

/* .nav-item {
    padding: 3rem;
} */

.active {
    color: red;
}



.work_videos-card {
    max-width: 600px;
    margin: 2rem;
}

.work_videos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.video_content {
    max-width: 50rem;
}

.work_links {
    margin-bottom: 3rem;
}

.work_links-url {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.contact {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.contact_infos {
    text-align: center;
}

.infos{
    margin: 1rem;
    /* display: flex; */
    gap: 20px;
}

.infos {
    padding: 1rem;
}

.solo_content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.solo_content_card {
    max-width: 40%;
    margin: 4rem;
}

.solo_image {
    max-width: 400px;
    border: red 10px solid ;
    border-radius: 5px;
}

.solo_image_text {
    /* width: inherit;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; */
    display: inline-block;
}