{% extends "front/base.html.twig" %}

{% block title %}Backoffice{% endblock %}

{% block body %}

<div class="back_list">
        <a href="{{ path('work_index') }}">
        <h1>Work</h1>
        </a>   
</div>

<div class="back_list">
        <a href="{{ path('solo_index') }}">
        <h1>Solo</h1>
        </a>   
</div>

<div class="back_list">
        <a href="{{ path('user_index') }}">
        <h1>Utilisateur</h1>
        </a>   
</div>



{% endblock %}
