{% extends "front/base.html.twig" %}

{% block title %}Non autorisé{% endblock %}

{% block body %}
<div class="main_error"></div>
<div class="error_background">
    <img src="{{ asset('assets/images/speaker-background.jpg')}}" class="speaker-img" alt="403" />
</div>
<div class="text_exception">
    <p class="error_number">403</p>
    <h1>Vous n'avez pas les autorisations.</h1>
    <a href="{{ path('work') }}" class="exception_back_home">Retourner à l'accueil</a>
</div>
{% endblock %}